@tailwind base;
@tailwind components;
@tailwind utilities;


@media  {
    body{
        background-image: url("./assets/bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

}