@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

    html{
        background-color: #030C13FF;
        /*background-image: url("./assets/bg.webp");*/
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        overflow-x: hidden;
    }


.ppDivs h3, h4, h5{
    @apply font-bold uppercase text-sm text-indigo-700 text-center
}
.ppDivs h3 {
    @apply font-extrabold text-[1.0rem] text-center mb-4 mt-12 underline
}

.ppDivs {
    @apply  my-12 bg-white rounded-lg px-3 font-sans;
}
.ppDivs p {
    @apply mb-4 text-gray-800 tracking-wide leading-tight;
}
.sublist {
    @apply space-y-2 mt-2 ml-8 mr-5 list-disc;
}

.date {
    @apply text-sm
}

.error-toast {
    background-color: black;
    font-family: sans-serif;
}